<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>

    <style>
        .information{
            display: flex;
            color: white;
            background-color: black;
            flex-direction: column;
        }
    </style>
</head>


<body>
    <div class="information">
        <h1>Conheça nosso sistema de Consulta</h1>
        <h2>Conheça nossos médicos:</h2>
        <a href="./listar_medicos.html">Lista de medicos</a>
    </div>
</body>

</html>